* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0d202c;
}

.download-btn {
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 16px 25px;
  align-items: center;
  border-radius: 6px;
  white-space: nowrap;
  background: #4a98f1;
  transition: all 0.2s ease;
}

.download-btn:hover {
  background: #0b60c9;
}

.download-btn.timer {
  color: #fff;
  background: none;
  transition: none;
  font-size: 1.6rem;
  pointer-events: none;
}

.download-btn.timer b {
  color: #f74a4a;
  padding: 0 8px;
}

.download-btn i {
  font-size: 2rem;
}

.download-btn .text {
  font-size: 1.5rem;
  padding-left: 10px;
}
